/*@media only screen and(min-width: 320px){	(smaller phone viewpoints)
}*/

a.nav-link{
	color: #007bff;
}

.header-logo{
	height: 90px;
	margin: none;
}
header.masthead{
		background: url(../img/header.jpg);
		background-size: cover;
		width:100%;
}

/*section.text-center{
	background-color: E3E3E3!important;
}

html{
	font-family: "Helvetica";
}*/


.showcase a:link{
	text-decoration: none;
}

a p{
	color: #6c757d!important;
}

a h2{
	color: #007bff;
	text-align: center;
	padding: 5px;
}

a h2:hover{
	color: pink;
}

/*Benefits*/

.page-section h3.section-subheading{
	margin: 0px;
}

#border-row{
	padding-bottom: 30px;
	padding-top: 20px;
	margin-bottom: 20px;
}

.showcase-img{
	background-size: cover;
}

.section-heading{
	color: #007bff;
}

.timeline-heading h4.subheading{
	color: pink;
}
/*Courses*/
.box{
    padding:0px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}

i{
	color: pink;
}

#course-heading{
	padding-top: 30px
}

.title{
	color: pink;
}

/*Location*/
.mapouter{
	margin: 30px auto;
}

#location-heading{
	padding-top:30px;
}

/*Google maps responsiveness*/
.google-maps {
    position: relative;
    padding-bottom: 75%; /* This is the aspect ratio*/
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*About Me*/
.wrapper{
	margin-top: 40px;
	margin-bottom: 20px;
}

.my-4{
	color: #007bff;
}

.my-3{
	color: pink;
}



/*Back to Home button*/
.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}

#mybtn {
  position: fixed;
  bottom: 4px;
  right: 10px;
}
