/*@media only screen and(min-width: 320px){	(smaller phone viewpoints)
}*/

a.nav-link{
	color: #007bff;
}

.header-logo{
	height: 90px;
	margin: none;
}
header.masthead{
		background: url(../img/header.jpg);
		background-size: cover;
		width:100%;
}

/*section.text-center{
	background-color: E3E3E3!important;
}

html{
	font-family: "Helvetica";
}*/


.showcase a:link{
	text-decoration: none;
}

a p{
	color: #6c757d!important;
}

a h2{
	color: #007bff;
	text-align: center;
	padding: 5px;
}

a h2:hover{
	color: pink;
}

/*Benefits*/

.page-section h3.section-subheading{
	margin: 0px;
}

#border-row{
	padding-bottom: 30px;
	padding-top: 20px;
	margin-bottom: 20px;
}

.showcase-img{
	background-size: cover;
}

.section-heading{
	color: #007bff;
}

.timeline-heading h4.subheading{
	color: pink;
}
/*Courses*/
.box{
    padding:0px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}

i{
	color: pink;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.row{
	display: inline block
}

#course-heading{
	padding-top: 30px
}

.title{
	color: pink;
}

/*Location*/
.mapouter{
	margin: 30px auto;
}

#location-heading{
	padding-top:30px;
}

/*Google maps responsiveness*/
.google-maps {
    position: relative;
    padding-bottom: 75%; /* This is the aspect ratio*/
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*About Me*/
.wrapper{
	margin-top: 40px;
	margin-bottom: 20px;
}

.my-4{
	color: #007bff;
}

.my-3{
	color: pink;
}



/*Back to Home button*/
.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}

#mybtn {
  position: fixed;
  bottom: 4px;
  right: 10px;
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* Other styles for the page not related to the animated dropdown */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
